@use "../util/animations" as *;

@mixin fullscreen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  // TODO
  transition: $transition-opacity;
  opacity: 0;
  // TODO
  z-index: 1000;

  &--open {
    opacity: 1;
    position: fixed;
    @include fullscreen;
  }

  &__scroller {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    max-height: calc(100vh - 32px);

    opacity: 0;
    // TODO
    transition: $transition-opacity;
    overflow: hidden;
    background-color: white;
    border-radius: 8px;

    position: fixed;
    @include center;
  }

  &--open &__content {
    opacity: 1;
  }

  &__overlay {
    opacity: 0;
    // TODO
    transition: $transition-opacity;
    background-color: black;
    position: fixed;
    @include fullscreen;
  }

  &--open &__overlay {
    opacity: 0.5;
  }
}
